<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DaBest Secure File Upload</title>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/form_wrapper.css" type="text/css" rel="stylesheet" media="screen,projection">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
  </head>
  <body ng-app="fileUpload">
    <nav class="white pos_fix" role="navigation">
      <div class="nav-wrapper container font_prompt"><a class="brand-logo hide_500" id="logo-container" href="index.html">DaBest Secure File Storage</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><i class="material-icons right">exit_to_app</i>เข้าสู่ระบบ</a></li>
        </ul>
        <ul class="side-nav" id="nav-mobile">
          <li>&nbsp;</li>
          <li class="grey lighten-5"><a href="#"><i class="material-icons left">home</i>
              <div class="font_1dot4">หน้าแรก</div></a></li>
          <li class="grey lighten-5"><a href="#"><i class="material-icons left">exit_to_app</i>
              <div class="font_1dot4">เข้าสู่ระบบ</div></a></li>
        </ul><a class="button-collapse" href="#" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container"></div>
    </nav><br>
    <form ng-controller="MyCtrl as up" name="up.upload_form">Single Image with validations
      <input type="file" ngf-select="" ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">            Image thumbnail:<img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"><i ng-show="up.upload_form.file.$error.required">*required</i><br><i ng-show="up.upload_form.file.$error.maxSize">
        File too large
        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
      <!--
      Multiple files
      <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
      Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div>
      -->
      <button type="submit" ng-click="up.submit()">submit</button>
      <p>{{up.progress}}</p>
    </form>
  </body>
  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script type="text/javascript" src="bower_components/crypto-js/crypto-js.js"></script>
  <script type="text/javascript" src="main.js"></script>
</html>