meta(name='viewport', content='width=device-width,height=device-height, initial-scale=1')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='css/form_wrapper.css', type='text/css', rel='stylesheet', media='screen,projection')

script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='js/materialize.js')
script(src='js/init.js')

script(type='text/javascript', src='node_modules/angular/angular.min.js')
script(type='text/javascript', src='node_modules/ng-file-upload/dist/ng-file-upload.min.js')
script(type='text/javascript', src='node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js')
script(type='text/javascript', src='main.js')
